.content, .img-container {
    transition: 0.5s;
}

.content {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.link-img {
    justify-self: center;
    margin-bottom: 60px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container.blur {
    filter: blur(10px);
}

.img-container:hover {
    filter: blur(0) !important;
    transform: scale(1.05);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline-title {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 630px) {
    .timeline-title {
        font-size: 6.3vw;
    }
}

@media(max-width: 1130px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}