.ls-button {
    background-color: transparent;
    border: none;
    transition: .5s;
}

.ls-button img {
    width: 40px;
}

.ls-button:hover {
    scale: 1.1;
}

@media (max-width: 600px) {
    .ls-button img {
        width: 12vw;
    }

    .ls-button img:nth-child(1) {
        margin-left: 10px;
    }
}