#footer {
    display: flex;
    justify-content: space-around;
}

#footer-info {
    text-align: right;
}

.references {
    color: var(--blue-color);
    font-size: 1.1rem;
    font-weight: bold;
}
