ul.menu,
.logo,
.nav-item {
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    font-family: Arial;
    text-decoration: none;
}

.header {
    background-color: var(--header-color);
    color: var(--blue-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid var(--blue-color);
}

.menu {
    display: flex;
}

.nav-item {
    margin-left: 40px;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: var(--blue-color);
    scale: 1.1;
}

.nav-item:hover .navigation {
    color: var(--header-color);
}

.logo > img {
    max-width: 40px;
}

.nav-item, .navigation {
    transition: 0.5s;
    color: var(--blue-color);
}

@media (max-width: 600px) {
    #pics {
        display: none;
    }
}