ul.menu,
.logo,
.nav-item {
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    font-family: Arial;
    text-decoration: none;
}

.header {
    background-color: #1d1e20;
    color: #247BA0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
}

.menu {
    display: flex;
}

.nav-item {
    margin-left: 40px;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #247BA0;
    scale: 1.1;
}

.nav-item:hover .navigation {
    color: #1d1e20;
}

.logo > img {
    max-width: 40px;
}

.nav-item, .navigation {
    transition: 0.5s;
    color: #247BA0;
}