@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.img-container {
    background-color: #e0e0e0;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    border-radius: 10px;
    transition: 1s;
}

.inside-img-container {
    position: relative;
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: flex;
}

p.inner-text { 
    font-family: 'Oswald', sans-serif;
    margin: 5px;
    font-size: 1.3rem;
    color: black;
}

@media (max-width: 810px) {
    .inside-img-container, .image {
        width: 43vw;
        height: 43vw;
    }
}

@media (max-width: 630px) {
    p.inner-text {
        font-size: 3.3vw;
    }
}

.z {opacity: 0;}
.fst {z-index: 3;}
.snd {z-index: 2;}
.trd {z-index: 1;}
.fth {z-index: 0;}